body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}

.name{
    color: red;
}
.lite-color{
    color: lightsteelblue;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.para-width{
    width: 50%;
    padding-left: 3%;
}
.img-width{
    width: 50%;
    padding-left: 3%;
}
.link-button{
    text-decoration: none;
    color:red;
    font-weight:600;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 50px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Model-S{

    background-image: url(images/model-s-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.Specs{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 3%;
}

.spec-item{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 20px gray;
    
}

#Model-S-Plaid-box{
    border-left: 10px solid;
    border-image: linear-gradient(red,lightsteelblue);
    border-image-slice: 1;
}

#Model-S-box{
    border-left: 10px solid;
    border-image: linear-gradient(black,lightsteelblue);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}