body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}

.name{
    color: red;
}
.lite-color{
    color: lightsteelblue;
}

section{
    display: flex;
    margin-bottom: 150px;
}

.para-width{
    width: 50%;
    padding-left: 3%;
}
.img-width{
    width: 50%;
    padding-left: 3%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 118, 76, 0.945),red);
    color:whitesmoke;
    font-weight:600;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Model-S{

    background-image: url(images/model-s-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}